<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="server=localhost;user=YOUR_USER;database=EmpresaDB;password=YOUR_PASSWORD;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
